# Python virtual environment
venv/
.venv/
env/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Local OS files
.DS_Store
Thumbs.db

# Output & Dump files dari uiautomator2
*.xml


# File CSV pelacakan sukses
*.csv

# Dump UI sementara
ui_dump/
